@page  "/rmauthors"
@inject NavigationManager navMgr
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient

<h3>RmAuthors 0 Curious_Drive</h3>
<hr />

<div id="rmDivAuthors" class="col-10 alert alert-info"></div>
<button class="btn btn-primary" @onclick="TestJSAlert">JS_Alert</button>
<br />

Now do the same AGAIN - this time from a Reusable Component :
<RmAlertServerComponent></RmAlertServerComponent>

<a href="rmauthors/rmauthordetail/12">J.K.Rowling</a>
<br />
<button class="btn btn-primary" @onclick="Navigate">JKRowling</button>
<br />

<button class="btn btn-primary" @onclick="TestDOMUpdate">Update DOM div</button>
<p>
    My Cities: @RmCitiesText
</p>

@code {
    private void Navigate() {
        navMgr.NavigateTo("rmauthors/rmauthordetail/22");
    }

    private async Task TestJSAlert() {
        await jsRuntime.InvokeVoidAsync("RmTestAlert", "Param1", "Param2");
    }

    private async Task TestDOMUpdate() {
        await jsRuntime.InvokeVoidAsync("RmTestDOMUpdate", "Param1", "Param2");
    }

    private async Task TestDOMUpdate(string p2) {
        await jsRuntime.InvokeVoidAsync("RmTestDOMUpdate", "", p2);
    }

    public string[] RmCities { get; set; }
    public string RmCitiesText { get; set; }

    protected async override Task OnInitializedAsync() {
        string finJson = await FetchFinObjectAsJson();
        string show = finJson.Substring(0, 40) + "...";
        await TestDOMUpdate(show);
        StateHasChanged(); //re-render the page
        await base.OnInitializedAsync();
    }

    //https://www.youtube.com/watch?v=X6cBnOhaYhk
    protected Task<string> FetchFinObjectAsJson() {
        HttpRequestMessage msg = new HttpRequestMessage();
        msg.Method = new HttpMethod("GET");
        msg.RequestUri = new Uri("https://api.preplanet.bob.ch/bobapplefinancing/get/1438");
        //msg.Content = new StringContent();
        string url = "http://www.google.com"; // https://api.preplanet.bob.ch/bobapplefinancing/get/14388";
        return httpClient.GetStringAsync(url);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && (RmCities == null)) RmCities = await jsRuntime.InvokeAsync<string[]>("GetCities");
        RmCitiesText = String.Join("-", RmCities);
        Console.WriteLine("Cities = " + RmCitiesText);
        StateHasChanged();
    }
}
